@charset "UTF-8";

* {
	font-family: 'Do Hyeon', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

html {
	width: 100%;
	text-align: center;
}

main {
	width: 100%;
	height: auto;
	text-align: center;
}

header {
	width: 100%;
	display: flex;
	position: fixed;
	background-color: white;
	z-index: 100;
	min-width: 1000px;
}

.logo {
	flex: 3;
}

.logo>a>img {
	width: 208px;
	min-width: 30%;
	height: auto;
	float: right;
	margin-right: 90px;
}

.search {
	flex: 3;
}

.sign {
	flex: 3;
}

.logo, .search, .sign {
	margin: 20px 0px 0px 0px;
}

.search {
	text-align: left;
	width: 100%;
	padding: 0px;
}

.search>form {
	width: 100%;
	height: 100%;
}

.search-bar {
	width: 80%;
	height: 45px;
	font-size: inherit;
	padding-left: 30px;
	margin: 8px 0px 0px 0px;
	border: 4px solid orange;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-right: 0px;
}

.search-icon {
	width: 45px;
	height: 45px;
	margin-top: 8px;
	padding-right: 15px;
	position: absolute;
	border: 4px solid orange;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
	background-image: url(../img/search.png);
	background-color: white;
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 0px;
	flex: 1;
}

.sign {
	width: 25%;
	display: flex;
	float: right;
}

.sign>img, .sign>ul>li {
	flex: 1;
}

.sign, .sign>ul>li {
	display: inline-block;
}

.sign>.user-icon {
	width: 55px;
	height: 55px;
	display: block;
	float: left;
	border-radius: 100%;
}

.sign>ul {
	margin-top: 20px;
	float: left;
}

.sign>ul>li {
	margin: 15px 30px 0px 15px;
	font-size: 18px;
	text-align: center;
	display: inline-block;
	position: relative;
	left: 15px;
	bottom: 17px;
	position: relative;
}

.sign>ul>li>a {
	color: #7b7b7b;
	text-decoration: none;
}