@charset "UTF-8";


* {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

html {
    width: 100%;
    text-align: center;
}

main {
    width: 100%;
    height: auto;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.logo,
.sign {
    flex: 1;
}

.search {
    flex: 3;
}

.logo,
.search,
.sign {
    margin: 20px 0px 0px 0px;
}

.search {
    text-align: center;
    width: 100%;
    padding: 0px;
}

.search-bar {
    width: 60%;
    height: 45px;
    font-size: 24px;
    padding-left: 30px;
    margin: 8px 0px 0px 0px;

    border: 4px solid orange;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0px;
}

.search-icon {
    width: 45px;
    height: 45px;
    margin-top: 8px;
    padding-right: 15px;
    position: absolute;

    border: 4px solid orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;

    background-image: url(../img/search.png);
    background-color: white;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 0px;
}

.sign {
    float: right;
    width: 25%;
    display: flex;
}

.sign,
.sign > ul > li {
    display: inline-block;
    flex: 1;
}

.sign > .user-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
}

.sign > ul {
    margin-top: 20px;
    float: left;
}

.sign > ul > li {
    margin: 15px 30px 0px 15px;
    font-size: 24px;
    text-align: center;
    position: relative;
    left: 15px;
    bottom: 17px;
}

.sign > ul > li > a {
    color: #7b7b7b;
    text-decoration: none;
}
