@charset "UTF-8";

.h2_style {
	
}

.detail {
	
}

.product {
	border: 1px solid lightgray;
	float: left;
	width: 250px;
	margin: 5px;
	margin-left: 15px;
	margin-right: 13px;
	margin-bottom: 15px;
	height:380px;
}

.product_photo>a>img {
	width: 248px;
	height: 248px;
}

.product_title {
	margin: 5px;
	font-size: 20px;
	margin-left: 15px;
}

.product_price {
	margin: 5px;
	font-size: 20px;
	margin-left: 15px;
	color: orange;
}

.product_time {
	float: right;
	color: gray;
	font-size: 16px;
	font-weight: normal;
}

.post_location {
	font-size: 15px;
	color: #adadad;
	text-align: left;
	margin-left: 15px;
	font-weight: light;
}

.post_post {
	margin-right: 5px;
}

.product_like {
	margin-top: 3px;
	margin-right: 10px;
	text-align: right;
	color: #cfcfcf;
}

.hideText {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.last {
	font-size: 18px;
}

.popular {
	float: right;
	margin-left: 10px;
	font-size: 18px;
}

.sort_list {
	margin-right: 5px;
}

.hr_style {
	border: 0;
	height: 1px;
	background: lightgray;
}

.hr_style1 {
	margin-bottom: 30px;
	margin-top: 30px;
	color: lightgray;
}

.move {
	text-decoration: none;
	color:black;
}


/*
    pagination 스타일
*/
article > div.row {
    margin-top: 50px;
}

.center {
	margin-top:130px;
	text-align: center !important;}

.pagination a{
    color:gray;
    text-decoration: none;
    display: inline-block;
    padding:0.5rem;
    min-width: 2.5rem;
    text-align: center;
    border:1px solid lightgray;
}
.pagination a:hover, .pagination .on {
    border:1px solid lightgray;
    color:orange;
}

/* 검색어가 없는 경우 디자인 */
.noSearch {
	font-size:19px;
	margin-bottom:80px;
	margin-top:100px;
	font-weight:lighter;
}

.search {
	border: 0;
	height: 1px;
	background: #e6e6e6;
	width:60%;
	
}
.searchContent {
	font-size:19px;
	margin-top:80px;
/* 	font-weight:lighter; */
}





