@charset "UTF-8";

   #full-article {
	width: 50%;
	min-width: 1200px;
    height: auto;
	text-align: center;
	margin: 0px 20%;
	 padding-top:200px;
}

.main-form {
	/*border: 1px solid black;*/
	padding-top: 20px;
    padding-bottom: 30px;
    font-size: 18px;
}

.title {
	text-align: center;
	font-size: 32px;
	color: #ff8900;
	font-weight: bold;
}

.main-form>div>img {
	width: 190px;
	height: 150px;
}

#find-form {
	height: auto;
	display: flex;
}

.id-find, .pw-find {
	height: 100%;
	flex: 1;
}

.id-find>h2, .pw-find>h2 {
	text-align: left;
}

.id-find>form>div input[type=text], .pw-find>form>div input[type=text] {
	width: 50%;
	height: 70px;
	margin: 25px 0px;
	font-size: 20px;
	padding-left: 50px;
	border: 1px solid transparent;
	border-bottom: 3px solid #ff8900;
}


#id-submit {
	margin-top: 120px;
}

.submit {
	width: 60%;
	height: 55px;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	font-size: 28px;
	color: rgba(255, 137, 0, 0.87);
	border: 3px solid rgba(255, 137, 0, 0.87);
	padding-left: 0px;
	border-radius: 15px;
	background-color: transparent;
	
}
.submit:hover {
	border: 1px solid transparent;
	background-color: rgba(255, 137, 0, 0.87);
	color: white;
}