@charset "UTF-8";

.promotion {
    padding-top: 155px;
    width: 100%;
    z-index: 0;
}

.swiper-container {
    width: inherit;
    height: auto;
}

.swiper-container .swiper-slide,
.swiper-container .swiper-slide > img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}


