@charset "UTF-8";

article {
	width: 100%;
	height: auto;
	text-align: left;
	border-radius: 15px;
}

.hot-title {
	display: inline-block;
	width: 100%;
	margin: 5% 85% 0px 15%;
	font-size: 48px;
	color: #ff8900;
}

.dongnae {
	margin: 0px 15%;
	display: flex;
	width: 70%;
	min-width: 1000px;
	max-width: 1200px;
	height: 460px;
	border-radius: 15px;
	background-color: rgba(128, 128, 128, 0.10);

	/* 	border: 1px solid green; */
}

#map-area {
	flex: 3;
	width: 30%;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#product {
	flex: 7;
	width: 70%;
	height: 100%;
	z-index: 0;
}

/* 배너 1 영역 */
#banner-1, #banner-2 {
	display: flex;
	width: 100%;
	height: 100%;
}

#banner-1-left, #banner-1-right, #banner-2-top, #banner-2-bottom {
	width: 100%;
	height: 100%;
}

#banner-1-right {
	flex: 1;
	/* 	border: 1px solid blue; */
	display: flex;
	flex-direction: column;
}

#banner-1-right-top, #banner-1-right-bottom {
	width: 100%;
}

#banner-1-right-top {
	flex: 1;
	height: 10%;
	text-align: right;
}

#banner-1-right-top>span {
	color: #ff8900;
	font-size: 24px;
	margin-right: 10px;
}

#banner-1-right-bottom {
	flex: 9;
	height: 90%;
	display: flex;
	flex-direction: column;
}

.layer {
	/* 	border: 1px solid green; */
	width: 100%;
	height: 50%;
	flex: 1;
	display: flex;
}

.hot-product {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 20%;
	height: 100%;
	/* 	border: 1px solid red; */
	margin: 0px 15px;
	padding: 5px 0px;
}

#img, #title, #like {
	width: 100%;
	/* 	border: 1px solid black; */
}

#img {
	flex: 7;
	height: 70%;
}

#img>img {
	width: 100%;
	height: 100%;
}

#title {
	flex: 1.5;
	height: 15%;
}

#like {
	flex: 1.5;
	height: 15%;
	background-size: 10%;
	background-color: transparent;
	background-image: url("../img/like.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;
	text-align: right;
	padding-top: 3px;
	padding-right: 10px;
}

/* banner 2 영역 */
#banner-2 {
	/* 	border: 1px solid black; */
	flex-direction: column;
}

#banner-2-top {
	/* 	border: 1px solid red; */
	flex: 1;
	height: 10%;
	text-align: right;
}

#banner-2-top>span {
	color: #ff8900;
	font-size: 24px;
	margin-right: 10px;
}

#banner-2-bottom {
	flex: 9;
	height: 90%;
	/* 	border: 1px solid blue; */
}