@charset "UTF-8";

footer {
	position: absolute;
	margin-top: 100px;
	width: 100%;
	min-width: 800px;
	height: 320px;
	background-color: rgba(70, 160, 91, 0.83);
	text-align: center;
	font-size: 18px;
	z-index: -1;
	height: 320px;
}

footer div {
	margin: 25px 25px 0px 25px;
}

footer div a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.76);
	margin-left: 20px;
}

.footer-bottom {
	margin-top: 10px;
	color: rgb(255, 166, 3);
	text-shadow: 1px 1px 1px gray;
}

.footer-icon {
	margin: 0px;
}

.footer-icon img {
	width: 45px;
	height: auto;
	margin: 10px;
}