@charset "UTF-8";

/* 회원가입 기본 폼 */
.join-article {
    height: auto;
    /*            border: 1px solid red;*/
}

.join-form {
    /*            border: 1px solid black;*/
    padding-top: 100px;
}

/* input 폼 */
.join-form div input,
.join-form div select {
    width: 500px;
    height: 55px;
    background-repeat: no-repeat;
    margin: 15px;
    border: 1px solid transparent;
    font-size: 18px;
}

.join-form div input[type=text]:hover,
.join-form div input[type=password]:hover,
.email-form:hover,
#addr:hover {
    border-bottom: 2px solid #ff8900;
}

.join-form div input[type=text],
.join-form div input[type=password],
.join-form div select,
.email-form,
#addr {
    margin-top: 70px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.41);
}


.join-form div input[type=text],
.join-form div input[type=password],
.join-form div select,
.a > input {
    margin-bottom: 10px;
    padding-left: 30px;
    background-size: 18px;
    background-position: 0px 1rem;
}

/* 이메일 입력 폼 */
.email-form {
    display: inline-block;
    width: auto;
}

#email,
#selectEmail,
#inputEmail {
    display: inline-block;
    width: 242px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#email {
    background-image: url(../img/new-post-32.png);
}

/* 비밀번호 입력 폼 */
input[name=member_pw] {
    background-image: url(../img/key-32.png);
}

/* 닉네임 입력 폼 */
input[name=member_nick] {
    background-image: url(../img/rename-32.png);
}

/* 휴대전화 입력 폼 */
input[name=member_phone] {
    background-image: url(../img/phone-2-32.png);
}

/* 주소 입력 폼 */
#addr {
    padding: 0px;
    display: inline-block;
    width: 500px;
}

#addr > input[type=text] {
    float: left;
    width: 150px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 1px solid transparent;
}

#addr > input[type=button] {
    margin: 0px 0px 0px 15px;
    padding: 0px;
    width: 35px;
    height: 50px;
    cursor: pointer;

    border: 1px solid transparent;

    background-color: transparent;
    background-image: url(../img/search.png);
    background-size: 24px;
    background-position: 0px 11px
}

#state {
    background-image: url(../img/map-marker-2-32.png);
}

/* submit 폼 디자인 */
#join-submit {
    margin: 60px 0px 0px 0px;
    height: 100px;
    font-size: 28px;
    color: rgba(255, 137, 0, 0.87);
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgba(255, 137, 0, 0.87);
    border-radius: 15px;
}

#join-submit:hover {
    color: white;
    background-color: rgba(255, 137, 0, 0.87);
    border: 3px solid transparent;
    border-radius: 15px;
}

#checkList {
    width: 500px;
    margin-top: 30px;
    display: inline-block;
}

#allAgree {
    font-size: 18px;
}

#selectAgree div {
    margin-top: 15px;
    padding-left: 35px;
}

#checkList div {
    text-align: left;
}

#checkList input[type=checkbox] {
    width: 15px;
    height: auto;
}

#selectAgree div > img {
    float: right;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.terms {
    display: none;
}

.terms.active {
    display: block;
}

.terms > textarea {
    width: 100%;
    height: 100px;
    resize: none;
}
