@charset "UTF-8";

#mypage-nav, #mypage-board {
	width: 100%;
}

#mypage-nav {
	height: 5%;
	display: flex;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#mypage-nav>div {
	display: inline-block;
	padding-top: 10px;
	flex: 1;
	border-radius: 15px;
}

#mypage-nav>div:hover {
	background-color: bisque;
}

#mypage-nav>div:hover>lable>span {
	color: #ff8900;
}

#mypage-board {
	height: 95%;
	border-radius: 15px;
}

/*
        #mypage-board.set-color {
            background-color: bisque;
        }
*/
#mypage-board.set-left {
	border-top-left-radius: 0px;
}

#mypage-board.set-right {
	border-top-right-radius: 0px;
}

#mypage-nav input[type=radio] {
	display: none;
}

div.area {
	display: none;
	width: 100%;
	height: 100%;
}

div.area.on {
	display: block;
}

#mypage-nav div>label {
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: gray;
	font-size: 24px;
}

/* 게시판 별 게시글 리스트 */
.mypage-board-table {
	/* 	border: 1px solid red; */
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.mypage-post-search {
	flex: 1;
	width: 100%;
	display: block;
	text-align: right;
}

.mypage-post-search>form {
	width: 100%;
	height: 100%;
	display: block;
}

.mypage-post-search>form>input[type=text], .mypage-post-search>form>input[type=submit]
	{
	background-color: transparent;
	background-repeat: no-repeat;
	border: 2px solid #ff8900;
	margin: 0px;
	height: 30px;
}

.mypage-post-search>form>input[type="text"] {
	font-size: 16px;
	width: 180px;
	border-right: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-left: 20px;
	margin-left: 20px;
}

.mypage-post-search>form>input[type="submit"] {
	width: 30px;
	border-left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: url("../img/search.png");
	background-size: 15px;
	background-position: 5px 5px;
	position: absolute;
	border-left: 0px;
}

.mypage-post-list {
	display: flex;
	flex: 8;
	width: 100%;
	height: 45%;
}

.mypage-post-list.column {
	flex-direction: column;
}

.product {
	flex: 1;
	width: 20%;
	max-width: 20%;
	height: 100%;
	max-height: 100%;
	/* 	border: 1px solid pink; */
	display: inline-block;
}

.commu-post {
	flex: 1;
	height: 100%;
	width: 100%;
	display: flex;
	border: 1px solid pink;
}

.commu-post>div {
	display: inline-block;
}

.no, .view {
	flex: 1;
}

.cate, .date {
	flex: 2;
}

.title {
	flex: 4;
}

/* product 내부 */
.product-inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.photo {
	flex: 6;
	height: 60%;
	/* 	border: 1px solid red; */
}

.photo>img {
	width: 180px;
	height: 180px;
}

.product-title, .map, .price-date, .post-like {
	flex: 1;
	height: 10%;
	/* order: 1px solid rgba(128, 128, 128, 0.45); */
	padding-top: 2%;
}

.product-title{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	padding-left: 5%;
}

.map, .post-like {
	background-repeat: no-repeat;
	background-size: 15px;
}

.map {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAiCAYAAABIiGl0AAAAAXNSR0IArs4c6QAAA6xJREFUWAm1l01IVFEUx51xNAtxIcEENuQIrqTxO8OEmj5IAncVUS2E2kS0axO4C5KiFi0lXIh9QBC1kKgwclNGjaNOSUEapVRiUSHoTOo4/c743vjem/vGp8xcuHPu+Z//Of9778y9740rz0EbGxsrjsViQait9JpEIuF1uVzbGCfo0/jT2GGwx6WlpQN+vz+Gn7G5MkXD4fAOil6C047dlImrxxCfg9tVUFBwtbq6ekbHrVYpzAoLo9FoJ+QL9AJrkkN/3u12d9bW1l5hMsvWnDTh4eHh8uXl5fvMutFK3qD/jLxTDQ0Nv4z5JuHR0VH/4uLiKwjy/WWtseJPLKTZKO7Wq4dCoa1LS0tP8bMqKvURrcT0TU1NbRZfWkqYWXVrhJVI9j+bZmZmbuplk1s9NDR0GNEnOpgrKz8ydBrZ8rBHRHCur0MsCvc1Pazl1GF301PbqOFpBh3Z4Rv0oIvVBgBG01hqYKCwsPBMIBD4bAxHIpGKhYWFbrB9RtxuzDEr9yB6zI5gwV/U19cfYLvktjI1mQh19rOI5wSCpqDC4bgelaXvUcRMEGJzAO0qUZ2oxdrx53XMzsI9KMJldgQDPsgPYtLgK4fCoeigMmgA2R2fCG83YMohxCFlQAHCDSlgE8Tkytx8yDZmbHCKMxIMQSdcJueWFU8Y8pRDiA3KgAJ0yJ1wJMwqGrlSWxQ6Jkg4wjWBamfCzQzfqmOrqGwNXo/c56uoeaTFejSuOWjxmNx7KXiHwYIlpnIr4I1xVo9TPF8nyFgwiYFV6LidhZfgJaFXv6vvUeCEHVmBy7UZ0fAAds3rUq+BcD8X0SFZcR5XWJcecGhFqEnrjkW12rfEJoV5PRlgJg+1QM4MGqG6uroHKWEZsNXnCfzNmWpe3iL1z9LjJmGuux+AF3MlTO1rrDb1FExutS5GQB5tj3Q/WxbRSElJyWVjPZOwBLxe70mI8sKXrTaZn59/pLKy8p+xYJqwz+eLFhUVtUH6aCRuZMwC/tBba2pqvlnz04SFUFVV9Zsj1krSd2vCOvwYNdo4sx9UOUphIfJ9f8XsRXxclbgGNiuiHNOXdjxbYUlgtuMINzN8Y1dAgU+BtTDxfkUsBWUUFhYFfmKCTKAvlWU/kDfPJo7mO3vKSiR5V69Fkrg8DPj32IHtwE2+FhvzmFivx+M5xz/ENV8sJM+xsC4yMjKyKx6P32YC8rdE2iz9HKu8m/QcfqxbWOry7N2CkRfznZzR0/yIvjBeV/sPFdozA8TD8zUAAAAASUVORK5CYII");
	background-position: 5% 4px;
}

.map>div {
	margin-left: 20%;
	padding: 0px;
	float: left;
	color: #adadad;
}

.post-like {
	padding-right: 55%;
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAjhJREFUWAnFl1uPKUEUhbdCxF2Iu7h78f9/ixdexANeSNxCkJnz1ZwSRncrM0OvhK6ufVmrdiu1O/DxD/INq9VKFouFbDYbOR6PEggEJBKJSDqdlkKhIKFQ6FvE1+3pdJL5fC7EHw4HIXU4HJZEIiHZbFZSqdRdXOBaAEHj8VjW6/Wdo5kIBoNSLBalVCppYcxDNJvNNPn5fDaud9dkMimNRkMvxhgvAna7nQyHQ2EVNmBV3W5Xu45GI10tmziq1+v1JBaLaXctANLBYKDLbZPE+MTjcT3cbrdmyurKY+n3+/pRKiImk8nT5MRB/Cw5cfyu4ARqv9/LcrnUN+/8ghNuxcBhI7xcC5xwK7aMX4BbsfX8AtzKa9++Whjcij8WvwC3Yk/6BbiV+TPxQwTcKpPJ+MGtOeFWHBB+PAY44VYctZxu7waccOuzIJ/Pv7UKrB5OoAUopfQ5/a4q0BPAeRHAgG4nl8vpyVd+wQGXwZeM/3f1el2i0aix/fmV3HBc40YAZel0Oq4933Xgs2M6IXKb0pv4GwFM0ny22+1Lv2ccf3Pl195qtW56QZPvTgAG9mez2fwTEZCTy6kjhstRAAba6FqtxvBXIAe53OAqgADeASqVilvsw3liyeEFTwEElstl/fFK4mSzjXsogOSshBcRW+BrWzkrARBXq1UrEZDjawtrAUYEpXXDs+TkeUoAAZTWScRPyMnn/JqLxQPm+U6nU+2FIDPnEeZourycOlofTF4LeODqav4EUxqvNxGf2nsAAAAASUVORK5CYII");
	background-position: 5% 6px;
	color: #adadad;
}

.price-date {
	display: flex;
}

.price, .date {
	flex: 1;
	width: 50%;
	height: 100%;
}

.price {
	text-align: left;
	padding-left: 5%;
	font-size: 18px;
	color: #ff8900;
}

.date {
	color: gray;
	font-size: 16px;
	font-weight: nomal;
}

/* 페이지네이션 */
.mypage-pagination {
	flex: 1;
	/* 	border: 1px solid orange; */
}

.mypage-pagination>div {
	/* 	border: 1px solid purple; */
	margin-top: 1rem;
}
