@charset "UTF-8";

/* test 상태일 때 테두리를 설정 */
body[test] main, body[test] header, body[test] nav, body[test] section,
	body[test] footer, body[test] article, body[test] div, body[test] span,
	body[test] p, body[test] label, body[test] aside {
	border: 1px dotted black;
}

.cursor:hover {
	cursor: pointer;
}

/* aritcle 기본 폼 */
#post-content-form {
	width: auto;
	margin: 0px 20%;
	text-align: center;
}

.float-box:after {
	content: "";
	display: block;
	clear: both;
}

.float-box.float-left>* {
	float: left;
}

.float-box.float-right>* {
	float: right;
}

.float-box>.float-left {
	float: left;
}

.float-box>.float-right {
	float: right;
}

.left-item66 {
	width: 66%;
}

.left-item50 {
	width: 50%;
}

.left-item40 {
	width: 40%;
}

.left-item33 {
	width: 33.333%;
}

.left-item25 {
	width: 25%;
}

.left-item20 {
	width: 20%;
}

.left-item16 {
	width: 16.666%;
}

.left-item10 {
	width: 10%;
}

.right-item34 {
	width: 34%;
}

.right-item60 {
	width: 60%;
}

.right-item75 {
	width: 75%;
}

.right-item90 {
	width: 90%;
}

.imagesize {
	width: 100%;
	height: 380px;
}
/*폰트크기*/
.font12 {
	font-size: 12px;
}

.font15 {
	font-size: 15px;
}

.font17 {
	font-size: 15px;
}

.font18 {
	font-size: 18px;
}

.font20 {
	font-size: 20px;
}

.font23 {
	font-size: 23px;
}

.font30 {
	font-size: 30px;
}

.font45 {
	font-size: 45px;
}

.gray-font {
	color: #999999;
}

.dimgray-font {
	color: dimgray;
}

.purple-font {
	color: #6247EE;
}

.green-font {
	color: #62B1D9;
}

.transparent-font {
	color: transparent;
}

.left-font {
	text-align: left;
}

.pic-align {
	text-align: center;
}

.right-float {
	float: right;
}

.reply-nick-font {
	color: dimgray;
	font-size: 15px;
}

/*패딩*/
.padding-top10 {
	padding-top: 10px;
}

.padding-top25 {
	padding-top: 25px;
}

.padding-top30 {
	padding-top: 30px;
}

.padding-top40 {
	padding-top: 40px;
}

.padding-top50 {
	padding-top: 50px;
}

.padding15 {
	padding-bottom: 15px;
}

.padding25 {
	padding-bottom: 25px;
}

.padding40 {
	padding-bottom: 40px;
}

.padding50 {
	padding-bottom: 50px;
}

.padding-left05 {
	padding-left: 0.5rem;
}

.padding-left30 {
	padding-left: 30px;
}

.padding-left35 {
	padding-left: 35px;
}

.padding-right05 {
	padding-right: 0.5rem;
}

.padding-right10 {
	padding-right: 10px;
}

.padding-right30 {
	padding-right: 30px;
}

.text-padding {
	padding: 20px;
}

.text-padding15 {
	padding: 15px;
}

.text-padding10 {
	padding: 10px;
}

.reply-div-padding {
	padding-top: 15px;
}
/*마진*/
.reply-margin20 {
	margin: 30px 0px 20px 0px;
}

.top-margin10 {
	margin: 10px 0px 0px 0px;
}

.top-margin20 {
	margin: 10px 0px 0px 0px;
}

.manner-margin {
	margin: 10px 0px 0px 20px
}

.like-button {
	background-color: #CCCCCC;
	color: white;
	font-size: 17px;
	border: 2px solid transparent;
	outline: none;
	width: 90%;
	padding: 0.5rem;
	float: left;
}

.edit-button {
	background-color: orange;
	color: white;
	font-size: 17px;
	border: 2px solid transparent;
	outline: none;
	width: 90%;
	padding: 0.5rem;
	margin: 0px 11px 0px 11px;
}

.delete-button {
	background-color: #F70000;
	color: white;
	font-size: 17px;
	border: 2px solid transparent;
	outline: none;
	width: 90%;
	padding: 0.5rem;
	float: right;
}

.reply-button {
	background-color: white;
	color: #999999;
	font-size: 15px;
	border: 1px solid #999999;
	outline: none;
	width: 50px;
	cursor: pointer;
}
/*테두리*/
.short-border {
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	padding: 0.5rem;
}

.product-info-border {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.info-border {
	border-left: 1px solid transparent;
	border-right: 1px solid darkgray;
}

.reply-border {
	border: 1px solid lightgray;
}

.reply-num-border {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.reply-pic-circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

textarea {
	width: 100%;
	resize: none;
	border: none;
}

.reply-content-form {
	display: flex;
	width: 100%;
}

.reply-content {
	width: 80%;
	display: inline-block;
	flex: 13;
}

.reply-control {
	width: 20%;
	display: flex;
	flex: 2;
	text-align: right;
}

.reply-control>div {
	display: inline-block;
	flex: 1;
}

.reply-control>div>a, .reply-control>div>label, #delete-reply-form>input[type=submit]
	{
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: gray;
	cursor: pointer;
}

.reply-control>div>a:hover, #delete-reply-form>input[type=submit]:hover
	{
	color: red;
}

.reply-control>div>label:hover {
	color: #ff8900;
}

.seller {
	margin-top: 17px;
}

.rereply-off {
	display: none;
}

.rereply-on {
	display: block;
}

#edit-reply-form {
	display: flex;
}

#edit-reply-form>textarea {
	flex: 14;
	width: 90%;
}

#edit-reply-form>input[type=submit] {
	flex: 1;
	width: 50px;
	height: 21px;
}

.mother-reply {
	color: #ff8900;
	font-weight: bold;
	font-size: 18px;
/* 	background-color: #ff8900; */
}

