@charset "UTF-8";

#logo_icon {
	width: 150px;
	height: 150px;
}

h2 {
	color: orange;
}

#pw, #submit, #nick {
	width: 500px;
	height: 55px;
	margin: 15px;
}

/*비밀번호 */
#pw, #nick {
	padding-left: 50px;
	font-size: 20px;
	border: 1px solid transparent;
	border-bottom: 3px solid #ff8900;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 5px 0.5rem;
}

#pw, #nick, #img {
	background-image: url(../img/key-32.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 3px 3px;
}

/* (전송버튼) */
#submit {
	margin-top: 50px;
	height: 70px;
	cursor: pointer;
	font-size: 28px;
	color: rgba(255, 137, 0, 0.87);
	border: 3px solid rgba(255, 137, 0, 0.87);
	border-radius: 15px;
	background-color: transparent;
}

#submit:hover {
	border: 1px solid transparent;
	background-color: rgba(255, 137, 0, 0.87);
	color: white;
}