@charset "UTF-8";


#full-article {
	min-width: 1200px;
	height: auto;
	text-align: center;
	margin: 0px 15%;
	padding-top: 200px;
}

.main-form {

	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 18px;
}

.title {
	text-align: center;
	font-size: 32px;
	color: orange;
	font-weight: bold;
	margin-top: 50px;
}

.main-form>div>img {
	width: 150px;
	height: 150px;
}

#find-form {
	height: auto;
}

.id-find, .pw-find {
	height: 100%;
}

.id-find>h2, .pw-find>h2 {
	text-align: left;
}

.id-find>form>div input[type=text], .pw-find>form>div input[type=text] {
	width: 50%;
	height: 70px;
	margin: 25px 0px;
	font-size: 20px;
	padding-left: 50px;
	border: 1px solid transparent;
	border-bottom: 3px solid #ff8900;
}

.submit {
	width: 300px;
	height: 55px;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	font-size: 28px;
	color: rgba(255, 137, 0, 0.87);
	border: 3px solid rgba(255, 137, 0, 0.87);
	padding-left: 0px;
	border-radius: 15px;
	background-color: transparent;
}

.submit:hover {
	border: 1px solid transparent;
	background-color: rgba(255, 137, 0, 0.87);
	color: white;
}

.find-form-body {
	width: 100%;
	height: 200px;
	display: flex;
	
	text-align: center;
	margin-top: 50px;
}

.find-form-body>div {
	flex: 1;
	display: inline-block;
	width: 50%;

}
#search {
	width: 230px;
	height: 70px;
	margin: 25px 0px;
	font-size: 20px;
	padding-left: 50px;
	border: 1px solid transparent;
	border-bottom: 3px solid #ff8900;
	 background-repeat: no-repeat;
	 background-size: 30px;
	background-position:left;
}
}
