@charset "UTF-8";


#logo_icon
{
	width: 300px;
	height: 400px;
	
}

#subject {
	color: orange;
		font-size: 30px;
}

#pw{
	padding-left: 50px;
	font-size: 30px;
	border: 1px solid transparent;
	border-bottom: 3px solid #ff8900;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 5px 0.5rem;
}

#pw{
	background-image: url(../img/key-32.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 3px 3px;
}
#submit {
	margin-top: 50px;
	height: 70px;
	cursor: pointer;
	font-size: 28px;
	color: rgba(255, 137, 0, 0.87);
	border: 3px solid rgba(255, 137, 0, 0.87);
	border-radius: 15px;
	background-color: transparent;
}

#submit:hover {
	border: 1px solid transparent;
	background-color: rgba(255, 137, 0, 0.87);
	color: white;
}