<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">


	<!-- 필터 설정 -->	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>carrot.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		<!-- 테스트필터는 로그인필터 전에 배치해야 한다-->
	<filter>
		<filter-name>testLoginFilter</filter-name>
		<filter-class>carrot.filter.TestLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>testLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 
	
	
	<!-- 대문 설정 -->
	<welcome-file-list>
	 		<welcome-file>index.jsp</welcome-file>
	 </welcome-file-list> 
	 
<!-- 에러 페이지 설정 -->
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>


</web-app>